<h1> Sign Up Here</h1>

<%# Create Org form here %>
<%# render form on views/organizations/new.html.erb %>

<%= link_to 'Continue to Create Employee Profile', new_organization_employee_path(@organization)  %>