<h4>Add a comment below:</h4>

<%= form_for @comment do |f| %>
    <%# TODO: add hidden_fields for employee and project_id %>
    <%= f.text_field :content %>
    <%= f.submit "Submit Comment" %>
<% end %>